/*p {
	background-color: aquamarine;
}
a{
	background-color: rgb(231, 156, 106);
}
div{
	background-color: yellow;
}
span{
	background-color: rgb(255, 31, 218);
}*/
input {
	background-color: pink;
}
body {
	background-color: aqua;
}
